<div class="main">
    <div class="main-title">
        <h1 style="display: none;">欣颜分期申请表</h1>
    </div>
    <div class="stage-box">
        <ol class="stage-list clearfix">
            <li class="col-2">
                <p class="list-num" ng-class="{'active':$state.is( 'applicationForm.basic' )}">01</p>
                <p class="list-info">基本信息</p>
                <img src="/assets/images/icon_liuchengjiantou.png">
            </li>
            <li class="col-2">
                <p class="list-num" ng-class="{'active':$state.is( 'applicationForm.loan' )}">02</p>
                <p class="list-info">贷款信息</p>
                <img src="/assets/images/icon_liuchengjiantou.png">
            </li>
            <li class="col-2">
                <p class="list-num" ng-class="{'active':$state.is( 'applicationForm.job' ) || $state.is( 'applicationForm.student' )}">03</p>
                <p class="list-info" ng-if="!$isStudent">工作信息</p>
                <p class="list-info" ng-if="$isStudent">学籍信息</p>
                <img src="/assets/images/icon_liuchengjiantou.png">
            </li>
            <li class="col-2">
                <p class="list-num" ng-class="{'active':$state.is( 'applicationForm.family' )}">04</p>
                <p class="list-info">居住信息</p>
                <img src="/assets/images/icon_liuchengjiantou.png">
            </li>
            <li class="col-2">
                <p class="list-num" ng-class="{'active':$state.is( 'applicationForm.upload' )}">05</p>
                <p class="list-info">上传资料</p>
                <img src="/assets/images/icon_liuchengjiantou.png">
            </li>
            <li class="col-2">
                <p class="list-num" ng-class="{'active':$state.is( 'applicationForm.vertify' )}">06</p>
                <p class="list-info">授权验证</p>
            </li>
        </ol>
    </div>
    <div ui-view class="ng-sub-view"></div>
</div>